USE [master]
GO
/****** Object:  Database [DBResoluciones]    Script Date: 28/06/2016 4:02:31 p. m. ******/
CREATE DATABASE [DBResoluciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBResoluciones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBResoluciones.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBResoluciones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBResoluciones_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBResoluciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBResoluciones]
GO
/****** Object:  Table [dbo].[TBL_Concepto]    Script Date: 28/06/2016 4:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Concepto](
	[IN_Concepto] [int] NOT NULL,
	[DA_Concepto] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBL_Concepto] PRIMARY KEY CLUSTERED 
(
	[IN_Concepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_Docente]    Script Date: 28/06/2016 4:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Docente](
	[IN_DNI] [char](8) NOT NULL,
	[DA_Nombres] [nvarchar](max) NULL,
	[DA_ApellidoPaterno] [nvarchar](max) NULL,
	[DA_ApellidoMaterno] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBL_Docente] PRIMARY KEY CLUSTERED 
(
	[IN_DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_Institucion_Educativa]    Script Date: 28/06/2016 4:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Institucion_Educativa](
	[IN_InstitucionEducativa] [int] NOT NULL,
	[DA_InstitucionEducativa] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_Institucion_Educativa] PRIMARY KEY CLUSTERED 
(
	[IN_InstitucionEducativa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_Resolucion]    Script Date: 28/06/2016 4:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Resolucion](
	[IN_NroResolucion] [char](10) NOT NULL,
	[IN_NroProyecto] [char](10) NULL,
	[IN_Tipo_Resolucion] [int] NULL,
	[IN_UGEL] [int] NULL,
	[IN_InstitucionEducativa] [int] NULL,
	[IN_DNI] [char](8) NULL,
	[IN_Situacion] [int] NULL,
	[IN_Concepto] [int] NULL,
	[IN_ExpedienteJudicial] [char](10) NULL,
 CONSTRAINT [PK_TBL_Resolucion] PRIMARY KEY CLUSTERED 
(
	[IN_NroResolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_Sentencia]    Script Date: 28/06/2016 4:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Sentencia](
	[IN_ExpedienteJudicial] [char](10) NOT NULL,
	[DA_Sentencia] [nvarchar](max) NULL,
	[DA_FechaSentencia] [date] NULL,
	[DA_Monto] [float] NULL,
 CONSTRAINT [PK_Sentencia] PRIMARY KEY CLUSTERED 
(
	[IN_ExpedienteJudicial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_Situacion]    Script Date: 28/06/2016 4:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Situacion](
	[IN_Situacion] [int] NOT NULL,
	[DA_Situacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_Situacion] PRIMARY KEY CLUSTERED 
(
	[IN_Situacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_Tipo_Resolucion]    Script Date: 28/06/2016 4:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Tipo_Resolucion](
	[IN_TipoResolucion] [int] NOT NULL,
	[DA_TipoResolucion] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_Tipo_Resolucion] PRIMARY KEY CLUSTERED 
(
	[IN_TipoResolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_UGEL]    Script Date: 28/06/2016 4:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_UGEL](
	[IN_UGEL] [int] NOT NULL,
	[DA_UGEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_UGEL] PRIMARY KEY CLUSTERED 
(
	[IN_UGEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
